    body {
        background-image: url("./img/background.jpg");
    }
    
    .container {
        display: flex;
        justify-content: center;
    }
    


    button,
    select {
        border: 2px solid #33275e;
        font-size: 30px;
        width: 150px;
        padding: 4px;
        margin: 20px;
        border-radius: 20px;
        background-color: #4D0632;
        cursor: pointer;
        text-align: center;
        color: white;
    }



    .out {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex;
        background-color: #FFDAFA;
        border-radius: 30px;
        padding: 20px;
    }

    .box {
        width: 60px;
        height: 60px;
        background-color:#ff6d419d;
        margin: 1px;
    }

    img {

        width: 60px;
        height: 60px;
    }

    .message{
        width: 320px;
        height: 150px;
        background-color: red;
    }
